<!-- <div>
    <img src="https://th.bing.com/th/id/R.2ce90906acde080fa5b2b6a09fd68dc4?rik=idTl6BwLWvlOpw&riu=http%3a%2f%2fclipart-library.com%2fnewhp%2f331-3316988_check-mark-box-clip-art-admin-blue-icon.png&ehk=IW1DPsM9dMWMsQcP6kQNIw3sjNcKODgXVY8MgPy0t98%3d&risl=&pid=ImgRaw&r=0" alt="">
    <h1>Admin</h1>
    <h4>admin@gmail.com</h4>
</div>

<mat-divider></mat-divider> -->

<div class="pages flex flex-col">
    <!-- <h3  class="ps-6 font-weight: 100;">pages</h3> -->
    <a routerLink=""  class="ps-16 pt-4 pe-16 pb-12 no-underline h-10  hover:bg-blue-200 shadow-sm"><mat-icon class="pt-1">dashboard</mat-icon>&nbsp;Dashboard</a> 
    <a routerLink="candidates" class="ps-16 pt-4 pb-12 pe-16  no-underline h-10 hover:bg-blue-200 shadow-sm"><mat-icon class="pt-1"><mat-icon class="">supervisor_account</mat-icon>&nbsp;candidates</mat-icon>Candidates</a>
    <a routerLink="tasks" class="ps-16 pt-4 pb-12 pe-16  no-underline h-10 hover:bg-blue-200 shadow-sm"><mat-icon class="pt-1">done</mat-icon>
       &nbsp;Tasks</a>
    <a routerLink="calender" class="ps-16 pt-4 pb-12 pe-16  no-underline h-10 hover:bg-blue-200 shadow-sm"><mat-icon class="pt-1"><span class="material-icons">today</span></mat-icon>Calender</a> 
    <a routerLink="messages" class="ps-16 pt-4 pb-12 pe-16  no-underline h-10 hover:bg-blue-200 shadow-sm"><mat-icon class="pt-1"> message</mat-icon>&nbsp;Messages</a>
    <a routerLink="reports"  class="ps-16 pt-4 pb-12 pe-16  no-underline h-10 hover:bg-blue-200 shadow-sm"><mat-icon class="pt-1"> rate_review</mat-icon>&nbsp;Reports</a> 
</div>
  
