<div class="card flex justify-around items-center mt-5 ">
    <!-- card -->
    <mat-card>
        <app-card
        bg="yellow"
        icon="person_pin"
        content="Software Developer"
        total="1000"
        ></app-card>
    </mat-card>
    
   <!-- card -->
   <mat-card>
      <app-card
      bg="yellow"
      icon="wc"
      content="Web Developer"
      total="1500"
      ></app-card>
   </mat-card>
     <!-- card -->
     <mat-card>
        <app-card
        bg="yellow"
        icon="group"
        content="Software Tester"
        total="300"
        ></app-card>
    </mat-card>
     <!-- card -->
     <mat-card>
        <app-card
        bg="yellow"
        icon="person"
        content="Product Manager"
        total="10"
        ></app-card>
    </mat-card>
     <!-- card -->
     <mat-card>
        <app-card
        bg="yellow"
        icon=" transfer_within_a_station"
        content="Software Architect"
        total="100"
        ></app-card>
    </mat-card>
</div>


<div class="area mt-1.5">
    <!-- area-chart -->
    <app-area-chart></app-area-chart>
</div>
<div>
    <!-- bar-chart -->
    <app-bar-chart></app-bar-chart>
</div>

<div class="flex justify-evenly items-center">
    <div>
        <!-- Three-d-chart -->
      <app-three-d-chart></app-three-d-chart>
    </div>
    <!-- <div>
         table 
        <app-table></app-table>
    </div> -->
    
</div>

